body {
    font-family: helvetica;
}
.progress-bar{
    background-color:green !important;
    height:100%;
    line-height: 20px;
    font-size: 12px;
    float:left;
    transition: width .6s ease !important;
    color:black !important; 
    text-align:center;
}
.outline{
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 2px 30px rgba(27, 12, 12, 0.62); 
}
.progress-bar-striped, .progress-striped .progress-bar{
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar, .progress-bar.active{
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-over{
    background-color: #9a7d13 !important;
 }
table {
        width: 100%;
        border-collapse: collapse;

}
td, th {
        border: 1px solid #f3f3f3;
        font-size: 12px;
        text-align: left;
        padding: 8px;
}
th {
  font-weight: bold
}

nav {
    margin-bottom: 10px;
}

.circle {
  float: left;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.refreshWrapper {
    border:1px solid #000;
    background-color:white;
}

hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.9em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

.center {
    width: 98%;
    margin: auto;
    text-align: center;
}


.pic1{
    position: center ;
    border: 3px solid #DCDAD5;
    margin-left: 810px;
    margin-top:-32px;
    height:830px;
    
}
.vl {
    border-left: 6px solid green;
    height: 500px;
}

.label {
    background-color: #DCDAD5;
    width: 600px;
    padding: 10px;
    border:solid 1px black;
}

.form_span {
    width: 75%;
    margin: auto;
}
.rotated {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}
.suite_name {
    list-style-type: none !important;
}
